{% extends "bootstrap/base.html" %}
{% block title %}Bitcoin Mining Simulator{% endblock %}

{% block head %}
{{ super() }}

<link href="{{ url_for('static', filename='Treant.css') }}" rel="stylesheet" />
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

{% endblock %}

{% block navbar %}

{% set navigation_bar = [
    ('/network', 'network', 'Network'),
    ('/my-rigs', 'my-rigs', 'My Rigs'),
] %}
{% set active_page = active_page|default('index') %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bitcoin Mining Simulator</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for href, id, caption in navigation_bar %}
  <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}">{{ caption|e }}</a></li>
{% endfor %} 
      </ul>
       <p class="navbar-text navbar-right" id="tick-count"></p>
       <p class="navbar-text navbar-right" id="connected-count"></p>
       <p class="navbar-text navbar-right" id="connected-id"></p>
      
    </div><!-- /.navbar-collapse -->

    <div
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
{% block content %}
<div class="container">
<h1>{% block header_name %} {% endblock %}</h1>
<hr/>
{% block page_body %} {% endblock %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='app.js') }}"></script>

{% endblock %}

{% macro description(label, value) %}
<b>{{label}}:</b> {{value}}<br/>
{% endmacro %}