{% extends "layout.html" %}
{% set active_page = "network" %}

{% block header_name %}
Network
{% endblock %}

{% block content %}

{{ super() }}
{% endblock %}

{% block page_body %}
    <script src="{{ url_for('static', filename='vendor/raphael.js') }}"></script>
    <script src="{{ url_for('static', filename='Treant.js') }}"></script>


    <div id="tree-simple" style="width:100%; height: 300px"> </div>
    <div id="block-history"></div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock %}
